<div class="postit" ng-show="$root.open">
    <div class="form">
	<input name="ttle" type="text" ng-model="new.title" class="form-control" placeholder="title" />
	<textarea name="content" ng-model="new.content" class="form-control" placeholder="content"></textarea>
	<button class="btn btn-default" ng-click="create()" >Submit</button>
    </div>
</div>

<div class="postit" ng-repeat="p in posts track by $index">
    <div class="title">{{p.title}}</div>
<p>{{p.content}}</p>
    <div class="info">by {{p.user}}</div>
</div>
