<div class="postit" ng-show="$root.open">
    <div class="form">
	<input name="ttle" type="text" ng-model="new.title" class="form-control" placeholder="title" />
	<textarea name="content" ng-model="new.content" class="form-control" placeholder="content"></textarea>
	<button class="btn btn-default" ng-click="create()" >Submit</button>
    </div>
</div>

<div class="postit">
    <div class="title">Title</div>
    <p>loremipsum dolor si amet, obreptans itun de mequeri dystum et quartem supa estum</p>

    <div class="info">by dude at date</div>
</div>
